%h1 Listing lessons

%table
  %thead
    %tr
      %th Teacher
      %th Start time
      %th Attended
      %th Canceled
      %th Missed
      %th
      %th
      %th

  %tbody
    - @lessons.each do |lesson|
      %tr
        %td= lesson.teacher
        %td= lesson.start_time
        %td= lesson.attended
        %td= lesson.canceled
        %td= lesson.missed
        %td= link_to 'Show', lesson
        %td= link_to 'Edit', edit_lesson_path(lesson)
        %td= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Lesson', new_lesson_path
