%p#notice= notice

%p
  %b Teacher:
  = @lesson.teacher
%p
  %b Start time:
  = @lesson.start_time
%p
  %b Attended:
  = @lesson.attended
%p
  %b Canceled:
  = @lesson.canceled
%p
  %b Missed:
  = @lesson.missed

= link_to 'Edit', edit_lesson_path(@lesson)
\|
= link_to 'Back', lessons_path
