%h1 Listing teachers

%table
  %thead
    %tr
      %th Given name
      %th Family name
      %th Birth date
      %th Sex
      %th Nationality
      %th Comment
      %th
      %th
      %th

  %tbody
    - @teachers.each do |teacher|
      %tr
        %td= teacher.given_name
        %td= teacher.family_name
        %td= teacher.birth_date
        %td= teacher.gender
        %td= teacher.nationality
        %td= teacher.comment
        %td= link_to 'Show', teacher
        %td= link_to 'Edit', edit_teacher_path(teacher)
        %td= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Teacher', new_teacher_path
