<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <title>Rangoon</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="assets/deeppurple-amber.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    <angular></angular>
    <%= javascript_pack_tag 'angular' %>
  </body>
</html>
